pkgbase = containernet-git
	pkgdesc = Mininet fork adding support for container-based emulated hosts
	pkgver = 3.1.r446.gc068942
	pkgrel = 2
	url = https://github.com/containernet/containernet
	install = containernet.install
	arch = x86_64
	license = custom
	makedepends = git
	makedepends = help2man
	makedepends = python-setuptools
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	depends = iproute2
	depends = net-tools
	depends = iputils
	depends = inetutils
	depends = iperf
	depends = ethtool
	depends = libcgroup
	depends = openvswitch
	depends = psmisc
	depends = docker
	depends = python-docker
	depends = python-pytest
	depends = python-iptables-git
	depends = python-pexpect
	depends = python-urllib3
	depends = python-networkx
	optdepends = xorg-xhost: for X11 forwarding
	optdepends = socat: for X11 forwarding
	optdepends = xterm: required for MiniEdit
	optdepends = tk: required for MiniEdit
	provides = mininet
	provides = containernet
	conflicts = mininet
	conflicts = containernet
	source = containernet-git::git+https://github.com/containernet/containernet
	source = git+https://github.com/mininet/openflow
	source = fix-openflow-strlcpy.patch
	source = fix-openflow-w-gcc-14-clang-17.patch
	source = fix-mininet-version.patch
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = 0a85f8a5ce2dd900d4f874849b28301aa47d7b9d7b03ed405c973d917d98383a
	sha256sums = 7258329a8df02c2b4bc87697daff12bc45ce8b2fc3145d2b6c520a8dd7ad8986
	sha256sums = dedc06db994a38b19a5641665dffeb6f5729efd25728e04edb9a71f65744df2c

pkgname = containernet-git
